<div class="main-content">
	<div class="rgt mar-btm">
		<%= link_to "Logout", logout_url %>
	</div>
  <%= render partial: 'msg'%>
  <br>
  <h1>Manage Products</h1>
  <br>
	<div class="rgt mar-btm">
		<%= link_to_if @products.present?, "Download Excel", params.merge({format: "xls"}) %>
	</div>
	<br>
	<table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#f5f7fa" class="tab-bor">
	  <%= form_for @product, url: products_url, html: {method: :get} do |f| %>
	  	<tr>       
	      <td class="bor-rgt"><label>Model:</label></td><td class="bor-rgt"><%=f.text_field :model, value: params[:product][:model]%></td>
	      <td class="bor-rgt"><label>Brand:</label></td><td class="bor-rgt"><%=f.text_field :brand, value: params[:product][:brand]%></td>
	      <td class="bor-rgt"><label>RAM:</label></td><td class="bor-rgt"><%=f.text_field :ram, value: params[:product][:ram]%></td>
	      <td class="bor-rgt"><label>External Storgae:</label></td><td class="bor-rgt"><%=f.text_field :external_storgae, value: params[:product][:external_storgae]%></td>
	      <td><%=f.submit "Search", class: "mar-rgt"%></td>
	    </tr>
	  <%end%>
	</table>
  <br>
  <table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#f5f7fa" class="tab-bor">
    <tr>
      <th class="bor-rgt">Name</th>
      <th class="bor-rgt">Model</th>
      <th class="bor-rgt">Brand</th>
      <th class="bor-rgt">Year</th>
      <th class="bor-rgt">RAM</th>
      <th class="bor-rgt">External Storgae</th>      
    </tr>
    <% if @products.present?
      @products.each do |product| %>
        <tr>
        	<td class="bor-rgt"><%=product.name%></td>
        	<td class="bor-rgt"><%=product.model%></td>
        	<td class="bor-rgt"><%=product.brand%></td>
        	<td class="bor-rgt"><%=product.year%></td>
        	<td class="bor-rgt"><%=product.ram%></td>
        	<td class="bor-rgt"><%=product.external_storgae%></td>
        </tr>
      <%end
    else%>
    	<tr><td>No record(s) found.</td></tr>
    <%end%>
</div>